*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("bodyimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: rgb(0, 0, 0);
    /* border: 2px solid red; */
    border: 2px solid rgb(63 1 1);
    display: flex;
}
header .title{
    color: white;
    /* height: 8vh; */
    width: 70vw;
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
}
header .title h1{
    margin-left: 20px;
}
header .title-button{
    height: 8vh;
    color: white;
    width: 30vw;
    display: flex;
    margin: 0 auto;
    /* margin-right: 20px; */
    justify-content: flex-end;
    align-items: center;
}
header .title-button #view-btn{
    margin-right: 20px;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 7px;
    padding: 6px 25px;
    color: white;
    font-size: 20px;
}
header .title-button #view-btn:hover{
    background-color: rgba(11, 69, 69, 0.559);
    border: 1px solid rgb(14, 79, 8);
}
main .container{
    min-height: calc(82vh);
    display: flex;
}
main .container .left{
    width: 65vw;
    /* border: 1px solid red; */
}
main .container .left form{
    text-align: center;
    margin: 8% auto;
    width: 50vw;
    min-height: 60vh;
    border: 1px solid rgb(48, 3, 3);
    color: white;
    background-color: rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    font-size: 15px;
    font-weight: bold;

}
main .container .left form h1{
    margin: 30px;
}
main .container .left form input{
    background-color: rgba(0, 0, 0, 0.827);
    color: white;
    display: block;
    margin: 5px auto 25px auto;
    border-radius: 5px;
    border: 1px solid rgb(95, 6, 6);
    height: 35px;
    width: 55%;
    text-align: center;

}
main .container .left form #btn{
    width: 20%;
}
main .container .left form #btn:hover{
    background-color: rgba(11, 69, 69, 0.559);
    border: 1px solid rgb(14, 79, 8);
}
main .container .right{
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.679);
    border: 1px solid green;
    border-radius: 15px;
    display: flex;
   
    justify-content: center;
    margin: auto;
}
main .container .right .box{
    margin: 5% auto;
    width: 90%;
    /* height: 70%; */
    /* border: 1px solid blue; */
    background-color: rgba(20, 64, 32, 0.6);
    color: white;
    text-align: center;
}
main .container .right .box table{
    border: 1px solid black;
    color: white;
    margin: 15px auto;
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: black;
    color: white;
}